body {
  background-color: #F8F6F2;
}

@font-face {
  font-family: 'AirBnbCereal';
  src: local('Cereal-Bold'), url('/client/src/airbnb-cereal-font/AirbnbCereal_W_Bd.otf') format('otf');
  src: local('Cereal-Black'), url('/client/src/airbnb-cereal-font/AirbnbCereal_W_Bk.otf') format('otf');
  src: local('Cereal-Light'), url('/client/src/airbnb-cereal-font/AirbnbCereal_W_Lt.otf') format('otf');
  src: local('Cereal-Medium'), url('/client/src/airbnb-cereal-font/AirbnbCereal_W_Md.otf') format('otf');
  src: local('Cereal-Extra-Bold'), url('/client/src/airbnb-cereal-font/AirbnbCereal_W_XBd.otf') format('otf');
}

.websiteLogo {
  width: 75%;
  height: auto;
}


.navBar {
  border-bottom: .75px solid #36454F;
  /*padding-top: .5rem;
  padding-bottom: .5rem;*/
} 

.topoSearch {
  border-bottom: .75px solid #36454F;
  position: relative;
  overflow: hidden;
} 


img.topo {
    position: absolute;
    background-size: contain;
    top: -350px;
    margin: auto;
    opacity: 25%;
    z-index: 1;
}

.landingSearch {
  z-index: 5;
  width: 35%;
  background-color: #F8F6F2;
  position: relative;
  /*margin: auto;*/
  padding: 0%;

top: 50%;
transform: translateY(-50%);
-ms-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-o-transform: translateY(-50%);

left: 50%;
transform: translateX(-50%);
-ms-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-o-transform: translateX(-50%);
}

.filterBar {
  border-bottom: .75px solid #36454F;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
}

.Search {
  background-color: #F8F6F2;
}

.leftMap, .leftArch {
  border-right: .75px solid #36454F;
}

div.css-ijx2sl {
 margin: 0;
 border-radius: 15px;
}

img.archway {
  display: block;
  margin: auto;
  opacity: 100%;
  width: auto;
  height: 75%;
  margin-top: 70px;

}

.parkingSpotTile {
  width: 420px;
  height: 260px;
  border-radius: 20px;
  background: #BBD1D1;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden; 
}

img.tileTopo {
  position: absolute;
  background-size: contain;
  top: -350px;
  margin: auto;
  opacity: 25%;
  z-index: 1;
}


/* map styling 
[
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 13
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#144b53"
            },
            {
                "lightness": 14
            },
            {
                "weight": 1.4
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#08304b"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#0c4152"
            },
            {
                "lightness": 5
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#0b434f"
            },
            {
                "lightness": 25
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#0b3d51"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "color": "#146474"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#021019"
            }
        ]
    }
]

*/